<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>照片选择器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30D463A31EC0B8EE00291413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30D463BC1EC0B8EE00291413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30D463C71EC0B8EE00291413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
